.footer__link {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  transition: opacity 0.3s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
}