.place__paragraph {
  margin: 29px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:first-child {
  margin: 0;
}

@media screen and (max-width: 786px) {
  
  .place__paragraph {
    font-size: 16px;
  }

}