.cover__overlay {
  margin: auto;
  text-decoration: none;
  color: white;
  background-image: url(../../../images/cover__background.jpg);
  background-size: 1184px 740px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cover__overlay::before {
  position: absolute;
  background-color: rgba(42, 44, 47, 0.3);
  content: "";
  /* выше добавил "ничего" чтобы оверлей отобразился */
  top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  /* выше растянул на весь элемент */
  transition: background-color 0.2s ease-in-out;
}

.cover__overlay:hover::before {
  background-color: rgba(42, 44, 47, 0.8);
}